#thisContainer .card-body {
    padding: 0.75rem;
}

#thisContainer > .row > div{
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}
table.table td a.add-row {
    color: #27C46B;
}
table.table td a.edit-row {
    color: #FFC107;
}
table.table td a.delete-row {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add-row i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add-row {
    display: none;
}

/*table add item styles*/
.tbl-add-item { margin-top: 5px; }

/*---------------------------------------------------------------------------------*/
/* CSS used here will be applied after bootstrap.css */
/*
.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}*/

/*
Small devices (landscape phones, 34em and up ( 544px ))
*/
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

}

/*
Medium devices (tablets, 48em and up (768px))
*/
@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

}

/*
Large devices (desktops, 62em and up(992px) )
*/
@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

}

/*
Extra large devices (large desktops, 75em and up (1200px))
*/
@media (min-width: 75em ) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/*--------------*/
.th-actions { padding: auto 0 !important; }

/*Fix - Style .form-control.is-valid */
/*Para que el estilo no tape el contenido de los select's*/
.form-control.is-valid{padding-right: 20px !important;}

/* Image Upload */
.images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.images .img,
.images .pic {
    flex-basis: 31%;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 135px;
    /*margin-left: 10px;*/
}

.images .img {
    /*width: 112px;*/
    height: 135px;  /*93px*/
    background-size: cover;
    margin-right: 10px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.images .img:nth-child(3n) {
    margin-right: 0;
}

.images .img span {
    display: none;
    text-transform: capitalize;
    z-index: 2;
}

.images .img::after {
    content: '';
    width: 100%;
    height: 100%;
    transition: opacity .1s ease-in;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
}

.images .img:hover::after {
    display: block;
    background-color: #000;
    opacity: .5;
}

.images .img:hover span {
    display: block;
    color: #fff;
}

.images .pic {
    background-color: #F5F7FA;
    align-self: center;
    text-align: center;
    padding: 56px 0;
    text-transform: uppercase;
    color: #848EA1;
    font-size: 12px;
    cursor: pointer;
}
