{% extends 'layout/portal.twig' %}

{% block title %}Skeleton Slim<br><strong>(Roles y Sesiones)</strong>{% endblock %}

{% block content %}

<div class="myContainer">
    <h2>Index Controller</h2>
</div>
{% endblock %}

{% block script %}
<!--script src="https://socket-menu.herokuapp.com/socket.io/socket.io.js"></script>
<script>window["SOCKET_URL"]="{{ socketUrl() }}";</script>
<script src="{{ baseUrl() }}js/menu/socket.js"></script-->
{% endblock %}
