<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /-->
        <!--link href="{{ baseUrl() }}css/layout.css" type="text/css" rel="stylesheet" /-->
        <link href="{{ baseUrl() }}css/main.css" type="text/css" rel="stylesheet" />
        <script>
            window.App = {
                baseUrl : "{{ baseUrl() }}"
            };
        </script>
        {% block style %}{% endblock %}
    </head>
    <body>

        <!--p style="text-align:center">Resize the browser window to see the effect.</p-->
        <h3>Admin - testing</h3>

        <div class="my-container">
        {% block content %}{% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        {% block script %}{% endblock %}
    </body>
</html>
